# (see OcrEngineMode enum in third_party/tesseract/ccstruct/publictypes.h).
# TESSERACT_ONLY(0), CUBE_ONLY(1), TESSERACT_CUBE_COMBINED(2),  DEFAULT(3);
# Devanagari configuration variables
#not using cubecombo which is there in 3.04 
#tessedit_ocr_engine_mode	2
#devanagari_split_debugimage 0
#devanagari_split_debuglevel 0

textord_min_linesize 2.5
pageseg_devanagari_split_strategy 1
ocr_devanagari_split_strategy 1
#new from 3.04
segment_nonalphabetic_script 1

# Avoid over-estimating intra-word spacing at both row and
# block levels when using old to method
tosp_old_to_method T
tosp_old_to_constrain_sp_kn T
tosp_old_sp_kn_th_factor 4.0
tosp_only_small_gaps_for_kern T
tosp_use_pre_chopping T

# Add a penalty for non-alphanumerics that are vertically badly positioned.
classify_misfit_junk_penalty 0.125

#new in 3.04
merge_fragments_in_matrix F

#new in 3.04
# Avoid false positive 1 in place of the Hindi | character - what happens if number 1 is used????
#tessedit_char_blacklist 1
